<!-- Popup contact us Address Starts -->
<div class="overlay-contact"></div>
<div class="pop-contact-wrp">
	<div class="head-txt">
		<h2>Address</h2>
		<span class="cross-sign">?</span>
	</div>
	<div class="wrapper">
		{{ page.message }}
	</div>  
</div>
<!-- Popup contact us Address Ends -->
<header>
	<div class="container-flow">
		<div class="wrapper flex-wrp">
			<div class="pro-logo">
				{{ page.logo }}
			</div>
			<div class="mob-menu">
				<span></span>
			</div>
			<nav>
				<ul class="flex-wrp main-menu">
					{{ page.menu_left }}
					{{ page.menu_right }}
				</ul>   
			</nav>
		</div>
	</div>
</header>
<main>
	<!-- Section recipe-banner Starts -->
	<section class="recipe-banner">
		<div class="container">
			<div class="wrapper flex-wrp">
				<div class="product-wrp">
					<div class="recipe-txt">
						<h1><span>Prohance D</span> <span>{{ node.title.value }}</span></h1>
						<div class="recipe-para">{{ node.body.value | raw }}</div>
					</div>
					<div class="bg-img"><img src="{{ file_url(node.field_banner_image.0.entity.uri.value) }}" alt="recipe-banner"></div>
					<div class="product-img"><img src="{{ file_url(node.field_product_image.0.entity.uri.value) }}" alt="product-img"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- Section recipe-banner Ends -->

	<section class="recipe-listing">
		<div class="container">
			{{ page.content_middle }}
		</div>
	</section>
</main>
<footer>
	<div class="container-flow">
		<div class="wrapper flex-wrp">
			<div class="copy flex-wrp">
				<p class="copyright">Copyright &copy; Sun Pharmaceutical Industries Ltd. </p>
				<ul class="flex-wrp">
					{{ page.footer }}
				</ul>
			</div>
			<div class="subs-wrp">
				<ul class="flex-wrp">
					<li><a href="javascript:;">subscribe</a></li>
					<li><a href="javascript:;">unbscribe</a></li>
				</ul>
			</div>
			<div class="social-wrp">
				<ul class="flex-wrp">
					<li><a href="https://www.facebook.com/Sun-Pharma-170795602978664/" target="_blank"><img src="/{{ directory }}/images/fb.png" alt="fb"></a></li>
					<li><a href="https://twitter.com/SunPharma_live" target="_blank"><img src="/{{ directory }}/images/tw.png" alt="tw"></a></li>
					<li><a href="https://www.youtube.com/channel/UCdkyfWmDFAaUA5P8GD_LVdQ" target="_blank"><img src="/{{ directory }}/images/yt.png" alt="yt"></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>